<div class="row">
  <div class="col">
    <div class="card border-primary mb-3">
      <div class="card-header">Cadastro de Funcionários</div>
      <div class="card-body">
        <p class="card-text">
          <button routerLink="/add-funcionario/" type="button" class="btn btn-outline-primary btn-modulo">Realizar
            Cadastro</button>
        </p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card border-primary mb-3">
      <div class="card-header">Listagem de Funcionários</div>
      <div class="card-body">
        <p class="card-text">
          <button routerLink="/listar-funcionarios/" type="button" class="btn btn-outline-success btn-modulo">Listar
            Funcionários</button>
        </p>
      </div>
    </div>
  </div>