<app-navbar-funcionario></app-navbar-funcionario>
<div class="container">
  <div class="row">
    <div class="col-md-6 col-sm-12 offset-md-3">
      <mat-card class="example-card">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>#Funcionario</mat-card-title>
          <mat-card-subtitle>Funcionário</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="../../../assets/images/rh.jpg" alt="Photo of a Shiba Inu">
        <mat-card-content>
          <p>
            Gerência todas as Ordens de Produção da Empresa.
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-raised-button routerLink="/add-funcionario/">CADASTRO</button>
          <button mat-raised-button routerLink="/listar-funcionarios/">LISTA</button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</div>