<h3>Editar {{nome}}</h3>
<div class="row">
    <div class="col-md-6 offset-md-3">
        <form [formGroup]="editForm" (ngSubmit)="updateFuncionario()">
            <div class="row">
                <legend>Dados Pessoais</legend>
                <div class="col">
                    <div class="form-group">
                        <label>Nome</label>
                        <input type="text" [(ngModel)]="nome" formControlName="nome" class="form-control" placeholder="Ex: João Oliveira"
                            [ngClass]="{ 'is-invalid': submitted && f.nome.errors }" />
                        <div *ngIf="submitted && f.nome.errors" class="invalid-feedback">
                            <div *ngIf="f.nome.errors.required">O Nome do Pai é Obrigatório</div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="form-group">
                        <label>Data de Nascimento</label>
                        <input type="text" formControlName="nascimento" mask="00/00/0000" dropSpecialCharacters="false"
                            placeholder="Ex: 01/01/1994" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.nascimento.errors }" />
                        <div *ngIf="submitted && f.nascimento.errors" class="invalid-feedback">
                            <div *ngIf="f.nascimento.errors.required">A Data de Nascimento é obrigatória</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="form-group">
                        <label>Nome do Pai</label>
                        <input type="text" formControlName="nomePai" class="form-control" placeholder="Ex: João Silva"
                            [ngClass]="{ 'is-invalid': submitted && f.nomePai.errors }" />
                        <div *ngIf="submitted && f.nomePai.errors" class="invalid-feedback">
                            <div *ngIf="f.nomePai.errors.required">O Nome do Pai é Obrigatório</div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="form-group">
                        <label>Nome da Mãe</label>
                        <input type="text" formControlName="nomeMae" class="form-control" placeholder="Ex: Maria Silva"
                            [ngClass]="{ 'is-invalid': submitted && f.nomeMae.errors }" />
                        <div *ngIf="submitted && f.nomeMae.errors" class="invalid-feedback">
                            <div *ngIf="f.nomeMae.errors.required">O Nome do Pai é Obrigatório</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <fieldset class="form-group">
                        <label for="">Sexo:</label>
                        <div class="form-check">
                            <label class="form-check-label">
                                <input type="radio" class="form-check-input" formControlName="sexo" name="sexo" value="Masculino"
                                    checked="">
                                Masculino </label>
                        </div>
                        <div class="form-check">
                            <label class="form-check-label">
                                <input type="radio" class="form-check-input" formControlName="sexo" name="sexo" value="Feminino">
                                Feminino </label>
                        </div>
                    </fieldset>
                </div>
                <div class="col">
                    <fieldset class="form-group">
                        <label for="">Estado Civil:</label>
                        <div class="form-check">
                            <label class="form-check-label">
                                <input type="radio" class="form-check-input" formControlName="estadoCivil" name="estadoCivil"
                                    value="Solteiro" checked="">
                                Solteiro </label>
                        </div>
                        <div class="form-check">
                            <label class="form-check-label">
                                <input type="radio" class="form-check-input" formControlName="estadoCivil" name="estadoCivil"
                                    value="Casado">
                                Casado </label>
                        </div>
                        <div class="form-check">
                            <label class="form-check-label">
                                <input type="radio" class="form-check-input" formControlName="estadoCivil" name="estadoCivil"
                                    value="Separado" checked="">
                                Separado </label>
                        </div>
                        <div class="form-check">
                            <label class="form-check-label">
                                <input type="radio" class="form-check-input" formControlName="estadoCivil" name="estadoCivil"
                                    value="Divorciado">
                                Divorciado </label>
                        </div>
                        <div class="form-check">
                            <label class="form-check-label">
                                <input type="radio" class="form-check-input" formControlName="estadoCivil" name="estadoCivil"
                                    value="Viúvo" checked="">
                                Viúvo </label>
                        </div>
                    </fieldset>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="form-group">
                        <label>Naturalidade</label>
                        <input type="text" formControlName="naturalidade" class="form-control" name="naturalidade"
                            placeholder="Ex: Cerro Corá" [ngClass]="{ 'is-invalid': submitted && f.naturalidade.errors }" />
                        <div *ngIf="submitted && f.naturalidade.errors" class="invalid-feedback">
                            <div *ngIf="f.naturalidade.errors.required">O Nome do Pai é Obrigatório</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <legend>Documentação</legend>
                <div class="col">
                    <div class="form-group">
                        <label>Identidade</label>
                        <input type="number" formControlName="identidade" class="form-control" name="identidade"
                            [ngClass]="{ 'is-invalid': submitted && f.identidade.errors }" />
                        <div *ngIf="submitted && f.identidade.errors" class="invalid-feedback">
                            <div *ngIf="f.identidade.errors.required">O Número da Identidade é Obrigatório</div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="form-group">
                        <label>Data de Expedição</label>
                        <input type="text" formControlName="expedicao" mask="00/00/0000" name="expedicao"
                            dropSpecialCharacters="false" placeholder="Ex: 01/01/1994" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.expedicao.errors }" />
                        <div *ngIf="submitted && f.expedicao.errors" class="invalid-feedback">
                            <div *ngIf="f.expedicao.errors.required">A Data de Expedição é obrigatória</div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="form-group">
                        <label>Orgão Emissor</label>
                        <input type="text" formControlName="orgaoEmissor" name="orgaoEmissor" class="form-control"
                            placeholder="Ex: SSP" [ngClass]="{ 'is-invalid': submitted && f.orgaoEmissor.errors }" />
                        <div *ngIf="submitted && f.orgaoEmissor.errors" class="invalid-feedback">
                            <div *ngIf="f.orgaoEmissor.errors.required">O Orgão Emissor é Obrigatório</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="form-group">
                        <label>CPF</label>
                        <input type="text" formControlName="cpf" name="cpf" mask="000.000.000-00" dropSpecialCharacters="false"
                            class="form-control" [ngClass]="{ 'is-invalid': submitted && f.cpf.errors }" />
                        <div *ngIf="submitted && f.cpf.errors" class="invalid-feedback">
                            <div *ngIf="f.cpf.errors.required">O CPF é Obrigatório</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="form-group">
                        <label>Titulo de Eleitor</label>
                        <input type="text" formControlName="tituloEleitor" name="tituloEleitor" mask="0000 0000 0000"
                            class="form-control" [ngClass]="{ 'is-invalid': submitted && f.tituloEleitor.errors }" />
                        <div *ngIf="submitted && f.tituloEleitor.errors" class="invalid-feedback">
                            <div *ngIf="f.tituloEleitor.errors.required">O Titulo de Eleitor é Obrigatório</div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="form-group">
                        <label>Seção Eleitoral</label>
                        <input type="number" formControlName="seccaoEleitoral" name="seccaoEleitoral" class="form-control"
                            [ngClass]="{ 'is-invalid': submitted && f.seccaoEleitoral.errors }" />
                        <div *ngIf="submitted && f.seccaoEleitoral.errors" class="invalid-feedback">
                            <div *ngIf="f.seccaoEleitoral.errors.required">A Seção Eleitoral é Obrigatória</div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="form-group">
                        <label>Zona Eleitoral</label>
                        <input type="number" formControlName="zonaEleitoral" name="zonaEleitoral" class="form-control"
                            [ngClass]="{ 'is-invalid': submitted && f.zonaEleitoral.errors }" />
                        <div *ngIf="submitted && f.zonaEleitoral.errors" class="invalid-feedback">
                            <div *ngIf="f.zonaEleitoral.errors.required">A Zona Eleitoral é Obrigatória</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="form-group">
                        <label>NIS</label>
                        <input type="text" formControlName="nis" name="nis" mask="0000000000-0" class="form-control" />
                    </div>
                </div>
                <div class="col">
                    <div class="form-group">
                        <label>SUS</label>
                        <input type="text" formControlName="sus" name="sus" mask='000 0000 0000 0000' class="form-control" />
                    </div>
                </div>
            </div>
            <div class="row">
                <legend>Endereço e Contato</legend>
                <div class="col-md-9">
                    <div class="form-group">
                        <label>Endereço</label>
                        <input type="text" formControlName="endereco" name="endereco" class="form-control" placeholder="Ex: Rua Sérvulo Pereira" />
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label>Número</label>
                        <input type="number" formControlName="numero" name="numero" mask='000' class="form-control"
                            placeholder="Ex: 001" />
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="form-group">
                        <label>Bairro</label>
                        <input type="text" formControlName="bairro" name="bairro" class="form-control" placeholder="Ex: Centro" />
                    </div>
                </div>
                <div class="col">
                    <div class="form-group">
                        <label>Cidade</label>
                        <input type="text" formControlName="cidade" name="cidade" class="form-control" placeholder="Ex: Cerro Corá" />
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="form-group">
                        <label>E-Mail</label>
                        <input type="email" formControlName="email" name="email" class="form-control" placeholder="Ex: exemplo@gmail.com" />
                    </div>
                </div>
                <div class="col">
                    <div class="form-group">
                        <label>Celular</label>
                        <input type="text" formControlName="celular" name="celular" mask="(00) 00000-0000"
                            dropSpecialCharacters="false" class="form-control" placeholder="Ex: Apenas Números com DDD" />
                    </div>
                </div>
            </div>
            <div class="row">
                <legend>Dados do Funcionário</legend>
                <div class="col">
                    <div class="form-group">
                        <label>Matricula</label>
                        <input type="number" formControlName="matricula" class="form-control" name="matricula"
                            [ngClass]="{ 'is-invalid': submitted && f.matricula.errors }" />
                        <div *ngIf="submitted && f.matricula.errors" class="invalid-feedback">
                            <div *ngIf="f.matricula.errors.required">O Número é Obrigatório</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="form-group">
                        <label>Data de Admissão</label>
                        <input type="text" formControlName="admissao" name="admissao" mask="00/00/0000"
                            dropSpecialCharacters="false" placeholder="Ex: 01/01/1994" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.admissao.errors }" />
                        <div *ngIf="submitted && f.admissao.errors" class="invalid-feedback">
                            <div *ngIf="f.admissao.errors.required">A Data de admissão é obrigatória</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <fieldset class="form-group">
                        <label for="">Setor:</label>
                        <div class="form-check">
                            <label class="form-check-label">
                                <input type="radio" class="form-check-input" formControlName="setor" name="setor" value="Administração"
                                    [(ngModel)]="setor" checked="">
                                Administração </label>
                        </div>
                        <div class="form-check">
                            <label class="form-check-label">
                                <input type="radio" class="form-check-input" formControlName="setor" name="setor" value="Produção"
                                    [(ngModel)]="setor">
                                Produção </label>
                        </div>
                    </fieldset>
                </div>
            </div>
            <div class="row" *ngIf="setor === 'Produção'">
                <div class="col">
                    <label for="">Cargo:</label>
                    <div class="form-check">
                        <label class="form-check-label">
                            <input type="radio" class="form-check-input" formControlName="cargo" name="cargo" value="Gerente de produção"
                                checked="">
                            Gerente de Produção </label>
                    </div>
                    <div class="form-check">
                        <label class="form-check-label">
                            <input type="radio" class="form-check-input" formControlName="cargo" name="cargo" value="Costureiro">
                            Costureiro </label>
                    </div>
                    <div class="form-check">
                        <label class="form-check-label">
                            <input type="radio" class="form-check-input" formControlName="cargo" name="cargo" value="Mecânico">
                            Mecânico </label>
                    </div>
                    <div class="form-check">
                        <label class="form-check-label">
                            <input type="radio" class="form-check-input" formControlName="cargo" name="cargo" value="Passador">
                            Passador </label>
                    </div>
                    <div class="form-check">
                        <label class="form-check-label">
                            <input type="radio" class="form-check-input" formControlName="cargo" name="cargo" value="Revisora">
                            Revisora </label>
                    </div>
                </div>
            </div>
            <div class="row" *ngIf="setor === 'Administração'">
                <div class="col">
                    <label for="">Cargo:</label>
                    <div class="form-check">
                        <label class="form-check-label">
                            <input type="radio" class="form-check-input" formControlName="cargo" name="cargo" value="Secretário"
                                checked="">
                            Secretário </label>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="form-group">
                        <label>CBO</label>
                        <input type="text" formControlName="cbo" class="form-control" name="cbo" />
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="form-group">
                        <label>Banco</label>
                        <input type="text" formControlName="banco" class="form-control" name="banco" placeholder="Ex: Banco do Brasil" />
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label>Agência</label>
                        <input type="number" formControlName="agencia" class="form-control" name="agencia" />
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label>Conta</label>
                        <input type="number" formControlName="conta" class="form-control" name="conta" />
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="exampleTextarea">Observações</label>
                <textarea class="form-control" formControlName="observacao" name="observacao" rows="3"></textarea>
            </div>
            <div class="row">
                <div class="col">
                    <fieldset class="form-group">
                        <label for="">Situação:</label>
                        <div class="form-check">
                            <label class="form-check-label">
                                <input type="radio" class="form-check-input" formControlName="situacao" [(ngModel)]="situacao"
                                    name="situacao" value="Ativo" checked="">
                                Ativo </label>
                        </div>
                        <div class="form-check">
                            <label class="form-check-label">
                                <input type="radio" class="form-check-input" formControlName="situacao" [(ngModel)]="situacao"
                                    name="situacao" value="Inativo">
                                Inativo </label>
                        </div>
                    </fieldset>
                </div>
            </div>
            <div class="row" *ngIf="situacao === 'Inativo'">
                <div class="col">
                    <div class="form-group">
                        <label>Data de Demissão</label>
                        <input type="text" formControlName="demissao" mask="00/00/0000" dropSpecialCharacters="false"
                            class="form-control" name="demissao" />
                    </div>
                </div>
            </div>
            <div class="form-group">
                <button class="btn btn-primary btnleft" routerLink="/funcionario/{{id}}">Cancelar</button>
                <button class="btn btn-primary">Atualizar</button>
            </div>
        </form>
    </div>
</div>