<div class="container">
    <div class="row">
        <div class="col-md-6 col-sm-12 offset-md-3">
            <mat-card class="example-card">
                <form [formGroup]="form" (ngSubmit)="signInWithEmail()">
                    <mat-card-header>
                        <mat-card-title>
                            <h3>Login Jero Confecções</h3>
                        </mat-card-title>
                    </mat-card-header>
                    <mat-card-content>
                        <div class="example-container">
                            <mat-form-field appearance="outline">
                                <mat-label>Digite seu E-mail</mat-label>
                                <input matInput name="email" formControlName="email" placeholder="exemplo@email.com">
                            </mat-form-field>
                            <mat-form-field appearance="outline">
                                <mat-label>Senha</mat-label>
                                <input matInput type="password" name="password" formControlName="password" placeholder="Digite sua Senha">
                            </mat-form-field>
                        </div>
                    </mat-card-content>
                    <mat-card-actions>
                        <button mat-raised-button class="login">LOGIN</button>
                    </mat-card-actions>
                </form>
                <button mat-button class="recPass" (click)="openDialog()">Recuperar Senha</button>
            </mat-card>
        </div>
    </div>
</div>