<app-navbar-producao></app-navbar-producao>
<div class="container">
    <div class="box">
        <div id="print">
            <h3>Dados da Ordem de Produção: {{ordemDeProducao?.referencia}}</h3>
            <table class="info">
                <tr>
                    <td>Fornecedor</td>
                    <td colspan="5">{{ordemDeProducao?.fornecedor}}</td>
                </tr>
                <tr>
                    <td>NF Fornecedor</td>
                    <td>
                        {{ordemDeProducao?.nf}}
                    </td>
                </tr>
                <tr>
                    <td>Numero</td>
                    <td colspan="5">
                        {{ordemDeProducao?.numero}} </td>
                </tr>
                <tr>
                    <td>Referência</td>
                    <td colspan="5">
                        {{ordemDeProducao?.referencia}} </td>
                </tr>
                <tr>
                    <td>Item</td>
                    <td colspan="5">
                        {{ordemDeProducao?.item}} </td>
                </tr>
                <tr>
                    <td>Quantidade</td>
                    <td colspan="5">
                        {{ordemDeProducao?.quantidade}} </td>
                </tr>
                <tr>
                    <td>Tempo Padrão</td>
                    <td colspan="5">
                        {{ordemDeProducao?.tempo}} </td>
                </tr>
                <tr>
                    <td>Valor por Peça</td>
                    <td colspan="5">
                        {{ordemDeProducao?.valor}} </td>
                </tr>
                <tr>
                    <td>Entrega Prevista</td>
                    <td colspan="5">{{data | date: 'dd/MM/yyyy'}} </td>
                </tr>
                <tr>
                    <td>Status</td>
                    <td colspan="5">
                        {{ordemDeProducao?.status}} </td>
                </tr>
                <tr>
                    <td>Produção Geral</td>
                    <td colspan="5">
                        {{ordemDeProducao?.producao}} </td>
                </tr>
                <tr>
                    <td>Observação</td>
                    <td colspan="5">
                        {{ordemDeProducao?.observacao}} </td>
                </tr>
            </table>
        </div>
        <div class="actions">
            <button mat-button color="primary" routerLink="/dashboard-producao/">
                <mat-icon aria-label="Editar Ordem de Produção">dashboard</mat-icon>
                Dashboard Produção
            </button>
            <button mat-button color="accent" routerLink="/listar-ordens-de-producao/">
                <mat-icon aria-label="Deletar Ordem de Produção">list</mat-icon>
                Listar Ordens de Produção
            </button>
            <button mat-button color="primary" routerLink="/editar-ordem-de-producao/{{id}}">
                <mat-icon aria-label="Editar Ordem de Produção">mode_edit</mat-icon>
                Editar
            </button>
            <button mat-button color="warn" (click)="deleteOrdem()">
                <mat-icon aria-label="Deletar Ordem de Produção">highlight_off</mat-icon>
                Excluir
            </button>
        </div>
    </div>
</div>