<app-navbar-producao></app-navbar-producao>
<div class="body">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-sm-12">
        <mat-card class="example-card">
          <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>#Funcionários</mat-card-title>
            <mat-card-subtitle>Módulo para a Gerência de Funcionários da Empresa</mat-card-subtitle>
          </mat-card-header>
          <mat-card-actions>
            <button mat-raised-button routerLink="/dashboard-funcionario/">FUNCIONÁRIO</button>
          </mat-card-actions>
        </mat-card>
      </div>
      <div class="col-md-6 col-sm-12">
        <mat-card class="example-card">
          <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>#Produção</mat-card-title>
            <mat-card-subtitle>Módulo para a Gerência de Produção da Empresa</mat-card-subtitle>
          </mat-card-header>
          <mat-card-actions>
            <button mat-raised-button routerLink="/dashboard-producao/">PRODUÇÃO</button>
          </mat-card-actions>
        </mat-card>
      </div>
    </div>
  </div>
</div>