@import "../../../assets/css/index.css";

@media print {
  .button-row {
    display: none;
  }
}

.button-row .btn {
  margin: 8px;
}
.button-row {
  text-align: center;
  margin: 10px;
}
.box {
  margin-bottom: 10px;
}
table {
  text-align: left !important;
}
