@import "../../../assets/css/index.css";
.button-row .btn {
  margin: 8px;
}
.button-row {
  text-align: center;
}
.box {
  margin-bottom: 10px;
}
@media print {
  .button-row {
    display: none;
  }
}
