<app-navbar-producao></app-navbar-producao>
<div class="container">
  <h4>Cadastro de Ordem de Produção</h4>
  <div class="row">
    <div class="col-md-8 offset-md-2">
      <div class="example-container">
        <form>
          <mat-form-field>
            <input matInput [matDatepicker]="dob" [(ngModel)]="pd.data" name="data" placeholder="Data da PD"
              required>
            <mat-datepicker-toggle matSuffix [for]="dob"></mat-datepicker-toggle>
            <mat-datepicker #dob></mat-datepicker>
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Minutos Por Funcionário</mat-label>
            <input matInput [(ngModel)]="pd.minutosDiarios" name="minutosDiarios" placeholder="Ex: 540" required>
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Quantidade de Funcionários</mat-label>
            <input matInput [(ngModel)]="pd.quantidadeDePessoal" name="quantidadeDePessoal" placeholder="Envolvidos na PD"
              required>
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Total de Minutos de Funcionários</mat-label>
            <input matInput name="minutosPessoal" disabled value="{{pd.minutosDiarios*pd.quantidadeDePessoal}}"
              placeholder="Total de Minutos">
          </mat-form-field>

        </form>
        <table class="table table-responsive table-form">
          <thead>
            <tr>
              <th scope="col">Artigo</th>
              <th scope="col">Tempo</th>
              <th scope="col">Valor</th>
              <th scope="col">Produzido</th>
              <th scope="col">Produção Diária OP</th>
              <th scope="col">PPM</th>
              <th scope="col">Fatura</th>
            </tr>
          </thead>
          <tbody>
            <tr class="table" *ngFor="let ordem of ordens; let i = index; trackBy: customTrackBy">
              <th scope="row">{{ordem.referencia}}</th>
              <td>{{ordem.tempo}}</td>
              <td>{{ordem.valor}}</td>
              <td>{{ordem.producao}}</td>
              <td class="td-ppm">
                <input type="number" name="producao" [(ngModel)]="ordem.ultimaProducao" class="form-control ppm" />
              </td>
              <td class="td-ppm">
                <input disabled name="ppm" type="number" [(ngModel)]="ppm" [value]="ordem.tempo*ordem.ultimaProducao"
                  class="form-control ppm" />
              </td>
              <td class="td-ppm">
                <input disabled name="fatura" type="number" [(ngModel)]="fatura" [value]="ordem.valor*ordem.ultimaProducao"
                  class="form-control ppm" />
              </td>
            </tr>
          </tbody>
        </table>
        <div class="button-row">
          <button mat-raised-button color="primary" type="button" class="btn btn-primary btn-pd" (click)="onOrdemInPd()">Enviar
            Produção Diaria</button>
          <button mat-raised-button color="warn" type="button" class="btn btn-warning btn-pd" (click)="offOrdemInPd()">Cancelar</button>
        </div>
      </div>
    </div>
  </div>