<app-navbar-producao></app-navbar-producao>
<div class="container">
    <h4>Cadastro de Ordem de Produção</h4>
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <div class="example-container">
                <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
                    
                    <mat-form-field appearance="outline">
                        <mat-label>Fornecedor</mat-label>
                        <input matInput formControlName="fornecedor" placeholder="Ex: Guararapes" [ngClass]="{ 'is-invalid': submitted && f.fornecedor.errors }">
                        <mat-hint *ngIf="submitted && f.fornecedor.errors">{{aviso}}</mat-hint>
                    </mat-form-field>

                    <mat-form-field appearance="outline">
                        <mat-label>Número</mat-label>
                        <input matInput formControlName="numero" placeholder="Numero" [ngClass]="{ 'is-invalid': submitted && f.numero.errors }">
                        <mat-hint *ngIf="submitted && f.numero.errors">{{aviso}}</mat-hint>
                    </mat-form-field>

                    <mat-form-field appearance="outline">
                        <mat-label>Nota Fiscal</mat-label>
                        <input matInput formControlName="nf" placeholder="Nota Fiscal" [ngClass]="{ 'is-invalid': submitted && f.nf.errors }">
                        <mat-hint *ngIf="submitted && f.nf.errors">{{aviso}}</mat-hint>
                    </mat-form-field>

                    <mat-form-field appearance="outline">
                        <mat-label>Artigo</mat-label>
                        <input matInput formControlName="referencia" placeholder="Referência da Ordem" [ngClass]="{ 'is-invalid': submitted && f.referencia.errors }">
                        <mat-hint *ngIf="submitted && f.referencia.errors">{{aviso}}</mat-hint>
                    </mat-form-field>

                    <mat-form-field appearance="outline">
                        <mat-label>Descrição da Peça</mat-label>
                        <input matInput formControlName="item" placeholder="Ex: Camisa Polo GG" [ngClass]="{ 'is-invalid': submitted && f.item.errors }">
                        <mat-hint *ngIf="submitted && f.item.errors">{{aviso}}</mat-hint>
                    </mat-form-field>

                    <mat-form-field appearance="outline">
                        <mat-label>Quantidade</mat-label>
                        <input matInput formControlName="quantidade" placeholder="Numero de Peças" [ngClass]="{ 'is-invalid': submitted && f.quantidade.errors }">
                        <mat-hint *ngIf="submitted && f.quantidade.errors">{{aviso}}</mat-hint>
                    </mat-form-field>

                    <mat-form-field appearance="outline">
                        <mat-label>Tempo Padrão</mat-label>
                        <input matInput formControlName="tempo" placeholder="Tempo Padrão" [ngClass]="{ 'is-invalid': submitted && f.tempo.errors }">
                        <mat-hint *ngIf="submitted && f.tempo.errors">{{aviso}}</mat-hint>
                    </mat-form-field>

                    <mat-form-field appearance="outline">
                        <mat-label>Valor</mat-label>
                        <input matInput formControlName="valor" placeholder="Valor por Peça" [ngClass]="{ 'is-invalid': submitted && f.valor.errors }">
                        <mat-hint *ngIf="submitted && f.valor.errors">{{aviso}}</mat-hint>
                    </mat-form-field>

                    <mat-form-field>
                        <input matInput [matDatepicker]="dob" placeholder="Data de Entrega" formControlName="entrega"
                            required>
                        <mat-datepicker-toggle matSuffix [for]="dob"></mat-datepicker-toggle>
                        <mat-datepicker #dob></mat-datepicker>
                    </mat-form-field>

                    <mat-radio-group class="mat-radio-group" formControlName="status">
                        <mat-radio-button class="mat-radio" name="status" value="Espera">Espera</mat-radio-button>
                        <mat-radio-button class="mat-radio" name="status" value="Processo">Processo</mat-radio-button>
                        <mat-radio-button class="mat-radio" name="status" value="Concluida">Concluida</mat-radio-button>
                        <mat-radio-button class="mat-radio" name="status" value="Enviada">Enviada</mat-radio-button>
                    </mat-radio-group>

                    <mat-form-field>
                        <textarea matInput formControlName="observacao" name="observacao" placeholder="Observações"></textarea>
                    </mat-form-field>

                    <div class="button-row">
                        <button mat-raised-button class="mat-button flt-r" color="primary">Cadastro</button>
                        <button mat-raised-button class="mat-button flt-l" color="warn" routerLink="/listar-ordens-de-producao/">Cancelar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>