@import '../../../assets/css/index.css';
@media print {
  button {
    display: none;
  }
}

.btnPrinter {
  text-align: center;
}

.button-row {
  margin: 5px;
  text-align: center;
}

table {
  text-align: center;
}