<div class="button-row">
    <button (click)="ngOnInit()" [ngClass]="allFaltas ? 'mat-raised-button': 'mat-button'" mat-button color="basic">Todos</button>
    <button (click)="getAtestados()" [ngClass]="atestados ? 'mat-raised-button': 'mat-button'" mat-button color="primary">Atestados</button>
    <button (click)="getFaltas()" [ngClass]="ausencias ? 'mat-raised-button': 'mat-button'" mat-button color="warn">
        Faltas </button>
</div>
<div class="box">
    <div class="row" *ngIf="allFaltas">
        <table class="table-sm table-bordered table-hover">
            <thead>
                <tr>
                    <th scope="col">Data da Falta</th>
                    <th scope="col">Tipo da Falta</th>
                    <th scope="col">Periodo</th>
                    <th scope="col">Observações</th>
                    <th scope="col">Ações</th>

                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let falta of faltas">
                    <td>{{falta?.dataFalta}}</td>
                    <td>{{falta?.tipo}}</td>
                    <td>{{falta.periodo}}</td>
                    <td>{{falta.observacao}}</td>
                    <td>
                        <button mat-mini-fab (click)="deleteFalta($event, falta)" color="warn">
                            <mat-icon>delete</mat-icon>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="row" *ngIf="atestados">
        <table class="table-sm table-bordered table-hover">
            <thead>
                <tr>
                    <th scope="col">Data da Falta</th>
                    <th scope="col">Tipo da Falta</th>
                    <th scope="col">Periodo</th>
                    <th scope="col">Observações</th>
                    <th scope="col">Ações</th>

                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let falta of faltas">
                    <td>{{falta?.dataFalta}}</td>
                    <td>{{falta?.tipo}}</td>
                    <td>{{falta.periodo}}</td>
                    <td>{{falta.observacao}}</td>
                    <td>
                        <button mat-mini-fab (click)="deleteFalta($event, falta)" color="warn">
                            <mat-icon>delete</mat-icon>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="row" *ngIf="ausencias">
        <table class="table-sm table-bordered table-hover">
            <thead>
                <tr>
                    <th scope="col">Data da Falta</th>
                    <th scope="col">Tipo da Falta</th>
                    <th scope="col">Periodo</th>
                    <th scope="col">Observações</th>
                    <th scope="col">Ações</th>

                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let falta of faltas">
                    <td>{{falta?.dataFalta}}</td>
                    <td>{{falta?.tipo}}</td>
                    <td>{{falta.periodo}}</td>
                    <td>{{falta.observacao}}</td>
                    <td>
                        <button mat-mini-fab (click)="deleteFalta($event, falta)" color="warn">
                            <mat-icon>delete</mat-icon>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>