<app-navbar-producao></app-navbar-producao>
<div class="button-row">
    <button mat-button color="primary" routerLink="/dashboard-producao/">
        <mat-icon aria-label="Dashboard Produção">dashboard</mat-icon>
        Dashboard Produção
    </button>
    <button mat-button color="accent" routerLink="/add-producao-diaria/">
        <mat-icon aria-label="Cadastro de Produção Diária">add</mat-icon>
        Cadastrar
    </button>
</div>
<div class="datatable table table-responsive" id="printerAll">
    <h1>Produções Diárias</h1>

    <div class="mat-elevation-z8">
        <table mat-table [dataSource]="dataSource">
            <!-- Position Column -->
            <ng-container matColumnDef="id">
                <th mat-header-cell *matHeaderCellDef> IDENTIFICAÇÃO </th>
                <td mat-cell *matCellDef="let element"><a routerLink="/producao-diaria/{{element.id}}">{{element.id}}</a></td>
            </ng-container>
            <!-- Position Column -->
            <ng-container matColumnDef="data">
                <th mat-header-cell *matHeaderCellDef> DATA </th>
                <td mat-cell *matCellDef="let element">{{element.data.seconds * 1000 | date: 'dd/MM/yyyy'}}</td>
            </ng-container>
            <!-- <a routerLink="/ordem-de-producao/{{element.id}}" -->
            <ng-container matColumnDef="quantidadeDePessoal">
                <th mat-header-cell *matHeaderCellDef> FUNCIONÁRIOS </th>
                <td mat-cell *matCellDef="let element"> {{element.quantidadeDePessoal}} </td>
            </ng-container>

            <!-- Weight Column -->
            <ng-container matColumnDef="producaoDiaria">
                <th mat-header-cell *matHeaderCellDef> PRODUÇÃO DIÁRIA </th>
                <td mat-cell *matCellDef="let element">{{element.producaoDiaria}}</td>
            </ng-container>

            <!-- Symbol Column -->
            <ng-container matColumnDef="eficiencia">
                <th mat-header-cell *matHeaderCellDef> EFICIÊNCIA </th>
                <td [ngClass]="{'green' :element.eficiencia >= 60}" mat-cell *matCellDef="let element">
                    {{element.eficiencia}}% </td>
            </ng-container>

            <ng-container matColumnDef="faturaDiaria">
                <th mat-header-cell *matHeaderCellDef> FATURA DIÁRIA </th>
                <td mat-cell *matCellDef="let element">{{element.faturaDiaria}},00 R$</td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
        <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
    </div>
</div>