router-outlet {
  width: 80%;
}
mat-list-item mat-icon {
  font-size: 10pt;
  margin-top: 12px
}

mat-drawer-container {
  min-height: 90vh;
}

@media print {
  
  mat-drawer {
    display: none;
  }

  mat-toolbar {
    display: none;
  }
}