@media print {
    .button-row {
        display: none;
    }
}

.button-row {
    text-align: center;
    margin: 20px;
}

.button-row .btn {
    margin: 8px;
}

.btn-sm {
    margin: 2px;
}

h3 {
    text-align: center;
}