@import '../funcionario/funcionario.component.css';
@media screen and (max-width:800px) {
    .desktop-hidden {
        display: initial;
    }
    .mobile-hidden {
        display: none;
    }
}

@media print {
    .button-row {
        display: none;
    }
}

.datatable mat-icon {
    margin-bottom: 30px;
    margin-top: -5px;
}

.button-row {
    text-align: center;
    margin: 7px;
}

h3 {
    text-align: center;
}