<app-navbar-producao></app-navbar-producao>
<div class="container">
  <div class="row">
    <div class="col-md-6 col-sm-12">
      <mat-card class="example-card">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>#Produção</mat-card-title>
          <mat-card-subtitle>Ordens de Produção</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="../../../assets/images/op.jpg" alt="Photo of a Shiba Inu">
        <mat-card-content>
          <p>
            Gerência todas as Ordens de Produção da Empresa.
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-raised-button routerLink="/add-ordem-de-producao/">CADASTRO DE OP</button>
          <button mat-raised-button routerLink="/listar-ordens-de-producao/">LISTAR OP'S</button>
        </mat-card-actions>
      </mat-card>
    </div>
    <div class="col-md-6 col-sm-12">
      <mat-card class="example-card">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>#Produção</mat-card-title>
          <mat-card-subtitle>Diário de Produção</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="../../../assets/images/pd.png" alt="Photo of a Shiba Inu">
        <mat-card-content>
          <p>
            Acompanhamento da Produção Diária da empresa.
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-raised-button routerLink="/add-producao-diaria/">CADASTRO DE PD</button>
          <button mat-raised-button routerLink="/listar-producoes-diarias/">LISTAR PD'S</button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</div>