<div class="grid-container">
    <h1 class="mat-h1">Dashboard</h1>
    <div class="row">
        <mat-grid-list cols="2" rowHeight="350px" class="col-sm-12 col-md-12">
            <mat-grid-tile [colspan]="2" [rowspan]="1">
                <mat-card class="dashboard-card">
                    <mat-card-header>
                        <mat-card-title>
                            Ordens de Produção
                            <button mat-icon-button class="more-button" [matMenuTriggerFor]="menu" aria-label="Toggle menu">
                                <mat-icon>more_vert</mat-icon>
                            </button>
                            <mat-menu #menu="matMenu" xPosition="before">
                                <button mat-menu-item>Editar</button>
                                <button mat-menu-item>Excluir</button>
                            </mat-menu>
                        </mat-card-title>
                    </mat-card-header>
                    <mat-card-content class="dashboard-card-content">
                        <div class="box">
                            <div class="print">
                                <table class="table-sm table-bordered table-hover">
                                    <thead>
                                        <tr>
                                            <th scope="col">Fornecedor</th>
                                            <th scope="col">Referencia</th>
                                            <th scope="col">Item</th>
                                            <th scope="col">Quantidade</th>
                                            <th scope="col">Produção</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr [routerLink]="['/ordem-de-producao/'+ordem.id]" *ngFor="let ordem of ordens">
                                            <td>{{ordem.fornecedor}}</td>
                                            <td>{{ordem.referencia}}</td>
                                            <td>{{ordem.item}}</td>
                                            <td>{{ordem.quantidade}}</td>
                                            <td>{{ordem.producao}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </mat-card-content>
                </mat-card>
            </mat-grid-tile>
        </mat-grid-list>
    </div>

    <mat-grid-list cols="2" rowHeight="350px">
        <mat-grid-tile [colspan]="1" [rowspan]="1">
            <mat-card class="dashboard-card">
                <mat-card-header>
                    <mat-card-title>
                        Titulo
                        <button mat-icon-button class="more-button" [matMenuTriggerFor]="menu" aria-label="Toggle menu">
              <mat-icon>more_vert</mat-icon>
            </button>
                        <mat-menu #menu="matMenu" xPosition="before">
                            <button mat-menu-item>Expand</button>
                            <button mat-menu-item>Remove</button>
                        </mat-menu>
                    </mat-card-title>
                </mat-card-header>
                <mat-card-content class="dashboard-card-content">
                    <div>Card Content Here 2</div>
                </mat-card-content>
            </mat-card>
        </mat-grid-tile>

        <mat-grid-tile [colspan]="1" [rowspan]="2">
            <mat-card class="dashboard-card">
                <mat-card-header>
                    <mat-card-title>
                        Funcionarios
                        <button mat-icon-button class="more-button" [matMenuTriggerFor]="menu" aria-label="Toggle menu">
              <mat-icon>more_vert</mat-icon>
            </button>
                        <mat-menu #menu="matMenu" xPosition="before">
                            <button mat-menu-item>Editar</button>
                            <button mat-menu-item>Excluir</button>
                        </mat-menu>
                    </mat-card-title>
                </mat-card-header>
                <mat-card-content class="dashboard-card-content">
                    <div>
                            <div class="box">
                                    <div class="print">
                                        <table class="table-sm table-bordered table-hover">
                                            <thead>
                                                <tr>
                                                    <th scope="col">Matricula</th>
                                                    <th scope="col">Nome</th>
                                                    <th scope="col">CPF</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr [routerLink]="['/funcionario/'+funcionario.id]" *ngFor="let funcionario of funcionarios">
                                                    <td>{{funcionario.matricula}}</td>
                                                    <td>{{funcionario.nome}}</td>
                                                    <td>{{funcionario.cpf}}</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>

                    </div>
                </mat-card-content>
            </mat-card>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="1" [rowspan]="1">
            <mat-card class="dashboard-card">
                <mat-card-header>
                    <mat-card-title>
                        Titulo
                        <button mat-icon-button class="more-button" [matMenuTriggerFor]="menu" aria-label="Toggle menu">
              <mat-icon>more_vert</mat-icon>
            </button>
                        <mat-menu #menu="matMenu" xPosition="before">
                            <button mat-menu-item>Expand</button>
                            <button mat-menu-item>Remove</button>
                        </mat-menu>
                    </mat-card-title>
                </mat-card-header>
                <mat-card-content class="dashboard-card-content">
                    <div>Card Content Here 4</div>
                </mat-card-content>
            </mat-card>
        </mat-grid-tile>
    </mat-grid-list>
</div>