<div class="row">
    <div class="col">
        <div class="card border-primary mb-3">
            <div class="card-header">Modulo de Funcionários</div>
            <div class="card-body">
                <p class="card-text">
                    Gerência dos Funcionários da Empresa.
                    <br>
                    <button routerLink="/dashboard-funcionario/" type="button" class="btn btn-outline-primary btn-modulo">Abrir
                        Funcionários</button>
                </p>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card border-primary mb-3">
            <div class="card-header">Produção</div>
            <div class="card-body">
                <p class="card-text">
                    Gerência da Produção da Empresa.
                    <br>
                    <button routerLink="/dashboard-producao/" type="button" class="btn btn-outline-success btn-modulo">Abrir
                        Produção</button>
                </p>
            </div>
        </div>
    </div>