@import '../../../assets/css/add.css';
@import '../../../assets/css/index.css';
.btnPrinter {
  text-align: center;
}

.box {
  text-align: center;
}

@media print {
  button {
    display: none;
  }
}

table {
  text-align: center;
}