<div class="box">
    <div class="print">
        <table class="table-sm table-bordered table-hover">
            <thead>
                <tr>
                    <th scope="col">Nome do Dependente</th>
                    <th scope="col">Data de Nascimento</th>
                    <th scope="col">Tipo</th>
                    <th scope="col">CPF</th>
                    <th scope="col">Ações</th>

                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let dependente of dependentes">
                    <td>{{dependente.nome}}</td>
                    <td>{{dependente.nascimento}}</td>
                    <td>{{dependente.tipo}}</td>
                    <td>{{dependente.cpf}}</td>
                    <td>
                        <button mat-mini-fab (click)="deleteDependente($event, dependente)" color="warn">
                            <mat-icon>delete</mat-icon>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>